= form_tag(controller: :orders, action: :change_quantity) do
  = hidden_field_tag('book', item.book.id)
  = number_field_tag(:quantity, item.quantity, min: 0, step: 1)
  = submit_tag "Update", class: 'btn btn-success'
